{
	"env": {
		"es6": true,
		"browser": true
	},
	"parser": "babel-eslint",
	"plugins": ["react-hooks", "jest", "cypress"],
	"extends": [
		"plugin:import/errors",
		"plugin:cypress/recommended",
		"plugin:import/warnings",
		"react-app",
		"react-app/jest",
		"airbnb",
		"storm",
		"prettier",
		"prettier/react"
	],
	"parserOptions": {
		"sourceType": "module"
	},
	"rules": {
		"radix": "off",
		"react/sort-comp": ["warn"],
		"no-mixed-spaces-and-tabs": ["error", "smart-tabs"],
		"no-underscore-dangle": ["off"],
		"no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
		"react/jsx-props-no-spreading": ["off"],
		"react/jsx-indent": ["off"],
		"react/jsx-indent-props": ["off"],
		"import/order": ["off"],
		"import/no-extraneous-dependencies": ["off"],
		"import/prefer-default-export": ["off"],
		"react/forbid-prop-types": ["off"],
		"react/prop-types": ["off"],
		"react/jsx-one-expression-per-line": ["off"],
		"react/jsx-filename-extension": ["off"],
		"react-hooks/rules-of-hooks": "error",
		"class-methods-use-this": "off",
		"jest/valid-expect-in-promise": "off"
	}
}
